{% extends "base.html" %}

{% block students %}
    {% if students_list %}
        <H2>Students in group <span class="error">{{ group_name|title }}</span></H2>
        <li><a href="{{ request.META.HTTP_REFERER }}">Back</a></li>      
            </hr>
            <table border="0">
                <tr>
                    <td>Name</td>
                    <td>Last Name</td>
                    <td>Student card id</td>
                </tr>
            {% for student in students_list %}                
                <tr>
                    <td>
                        <a href="{% url 'student:edit student.pk' %}">{{ student.name|title }}</a>
                    </td>
                    <td>
                        {{ student.last_name|title }}
                    </td>
                    <td>
                        {{ student.student_id_card }}
                    </td>
                </tr>
            {% endfor %}
            </table>
      

    {% else %}
        <h2>No students in group</h2>
        <a href="{% url 'student:add' %}">Add student</a>
    {% endif %}
{% endblock students %}