/*file encoding*/

body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #666666;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.base #container { 
    
    width: 80%;
    background: #FFFFFF;
    margin: 0 auto;             /* автоматические поля (совместно с шириной) выравнивают страницу по центру. */
    margin-top: 10px;
    border: 1px solid #000000;
    text-align: left;           /* переопределяет свойство text-align: выравнивание элемента body по центру. */
} 
.base #header {
    border: 1px solid #000000;
    text-align: center; 
    background: #DDDDDD; 
    padding: 0 10px;            /* это значение отступа соответствует выравниванию по левому краю элементов в блоках div, расположенных под ним. Если в элементе #header вместо текста используется изображение, отступ можно удалить. */
}
 
.base #header h1 {
    margin: 0; 
    padding: 10px 0; 
    color: #0000FF;
}

.base #links {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: center; 
    background: #FFFF33; 
    padding: 0 10px;            /* это значение отступа соответствует выравниванию по левому краю элементов в блоках div, расположенных под ним. Если в элементе #header вместо текста используется изображение, отступ можно удалить. */
} 


.base #sidebar1 {
    border: 1px solid #000000;
    border-right: 2px;
    border-top: 1px;
    float: right; 
    width: 10em;            /* поскольку этот элемент является обтекаемым, необходимо задать ширину. */
    background: #EBEBEB;    /* цвет фона будет отображаться только на отрезке содержимого в колонке, но не дальше. */
    padding: 15px 0;        /* верхний и нижний отступы создают визуальное пространство в этом элементе div.  */
    margin-left: 10px;      /* левое и правое поля нужно задать для каждого элемента, который будет помещен в боковые колонки. */
    margin-right: 10px;
}

.base #sidebar1 p {
    text-align: center;
}

.base #sidebar1 a {
    padding: 2px;
    text-decoration: none;
    color: #0000ff;
}

.base #sidebar1 a:hover {
    padding: 2px;
    border: 1px solid red;
    /*border-bottom: 1px dashed green;*/
    background: #ff3;
    color: red;
}

.menu {
  width: 200px;         /* Ширина меню в пикселах */
  padding: 5px;         /* Отступы от рамки до пунктов меню */
  border: 1px solid black   /* Рамка вокруг меню */

}

.menu A {
    width: 97%;                 /* Ширина пунктов меню */
    padding: 2px;               /* Отступ от рамки вокруг ссылки до текста */
    display: block;             /* Ссылка как блочный элемент */
    border: 1px solid white;    /* Маскируем рамку вокруг ссылки */
    text-decoration: none       /* Убираем подчеркивание у ссылок */
}

.menu A:hover {
    margin: 10px;
    background: #faf3d2;        /* Цвет фона под ссылкой */
    color: #800000;             /* Новый цвет ссылки */
    border: 1px dashed #634f36  /* Рамка вокруг ссылки */
}
.base #main_content {
  margin: 0 13em 0 10px;        /* значение левого поля равно значению верхнего и нижнего колонтитула, в результате чего происходит выравнивание по левому краю документа. */
} 
.base #footer { 
    padding: 0 10px;            /* это значение отступа соответствует выравниванию по левому краю элементов в блоках div, расположенных над ним. */
    background:#DDDDDD;
} 
.base #footer p {
    text-align: center;
    margin: 0;                  /* нулевые поля первого элемента в нижнем колонтитуле позволят избежать возможного сжатия полей, то есть появления пространства между элементами div. */
    padding: 10px 0;            /* добавление отступа к данному элементу создаст пробел (так, как он был бы создан с помощью поля), не вызывая при этом проблемы сжатия полей. */
}

div #note {
    padding: 10px 10px 10px;    
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 41%;
    margin-right: auto;
    width: 25em;
    background-color: #EEF;
    color: #4D4B4B;
    border: 1px solid #999999; 
    border-radius: 10px 10px;
    
    -webkit-border-radius: 10px 10px;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    
}

#pressed {
    padding: 15px;
    color: #E6E0E0;
    background: #111;
    border: 1px solid #000;
    border-right: 1px solid #353535;
    border-bottom: 1px solid #353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

div #login_pannel {
    padding: 10px 10px 10px;
    margin: 0 auto;
    border: 1px solid #999999;
    color: #800000;
}

.field-wrapper {
    font-family: Courier;
    background: #E6E0E0;
}

.label-wrapper {
    
}

.error {
    color: red;
    background: #FAF3D2;
    text-align: left;
}
.required {
    color: red;
}

div #copyright {
    text-align: center;
}


/*--------------------------------------------------*/

body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

p, h1, form, button{
    border:0;
    margin:0;
    padding:0;
}
.spacer {
    clear:both;
    height:1px;
}
/* ----------- My Form ----------- */
.myform{
    margin:0 auto;
    width:400px;
    padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
    padding-top: 30px;
    margin-top: 50px;
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
#stylized p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#stylized label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylized input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}
#stylized button{
    clear:both;
    /*margin-left:150px;*/
    width:125px;
    height:31px;
    background:#666666;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

#stylized .errorlist ul {
    color: #800000;
    background: #B7DDF2;
}




